  <h1><%= @article.title %></h1>
  <br>
  <h2><%= @article.content %></h2>
<br>

<%= link_to "Back to list", articles_path %>
<%= link_to "Edit this Article", edit_article_path %>
<br>
<%= link_to "DELETE #{@article.title}", article_path(@article), method: :delete, data: { confirm: "Are U sure?"} %>
<i class="fa fa-pencil"></i>
<i class="fa fa-trash"></i>